.app {
    position: relative;
}

/* .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Darker overlay to cover content */
    /* backdrop-filter: blur(5px); /* Apply blur effect */
    /* sz-index: 999; Ensure it is above other content */
    /* overflow: hidden; /* Hide any overflow to avoid scrollbars */
/* } */
/*  */
.order-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    z-index: 1000; /* Ensure it is above the blur overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*---------------------- close button-----------------------*/
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: #000;
}
